* {
    font-family: Poppins, sans-serif;
    margin: 0;
    border: 0;
}

body {
    overflow-x: hidden;
    background-color: #ebeae4;
}

/*          LOADER          */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow: visible;
    z-index: 2;
    background: #000 url("media/loading.gif") no-repeat center center;
    background-size: 200px 200px;
}

/*          /LOADER          */



/*          HEADER          */

header {
    position: relative;
    padding: 20px 0;
    margin-bottom: 40px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 10%;
}

.header-logo img {
    width: 50px;
    height: 50px;
}

.header-logo a {
    display: inline-block;
    text-decoration: none;
    color: #0a0a23;
}

.header-search {
    width: 33%;
    background: #fff;
    border-radius: 10px;
    display: inline-flex;
}

.header-search input {
    flex: 1;
    height: 40px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
    width: 400px;
    margin-bottom: 1%;
    padding-top: 2%;
}

.header-search button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0;
    height: 50px;
    width: 40px;
}

.header-search svg {
    height: 20px;
    width: 20px;
}

.header-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-list a {
    text-decoration: none;
    color: #1b1b32;
    display: flex;
}

.header-list li {
    width: max-content;
    margin: 10px;
}

::placeholder {
    color: #555;
}

.result-box {
    position: absolute;
    top: 85%;
    max-height: 300px;
    margin: 0 14.5%;
    overflow-y: scroll;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}

.result-box ul {
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #e9f3ff;
}

/*          /HEADER          */



/*          MAIN          */

.container {
    width: 80%;
    margin: 0 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 40px);
    margin: 40px 20px;
    display: inline-block;
}

.card img {
    height: 150px;
    width: 230px;

    border-radius: 5%;
}

.card h5 {
    font-weight: bold;
    font-size: larger;
    width: 230px;
    margin-top: 3%;
}

.card p {
    width: 230px;
    margin-top: 3%;
}

.card a {
    padding-top: 4%;
    text-decoration: none;
    color: #356eaf;
}

.text p {
    width: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.mockup {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.carousel {
    position: relative;
    width: 800px;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: .5rem;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.search-box {
    width: 30%;
    height: min-content;
    margin-left: 20px;

    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    color: #1b1b32;
    width: 70%;

    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 24px;
}

.search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: #1b1b32;
    text-transform: capitalize;
}

.search-box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #1b1b32;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover {
    color: #FFF;
    background: #1b1b32;
}

.search-box i {
    position: absolute;
    color: #1b1b32;
    font-size: 28px;
}

.weather-box {
    text-align: center;
}

.weather-box img {
    width: 40%;
    margin-top: 30px;
}

.weather-box .temperature {
    position: relative;
    color: #1b1b32;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description {
    color: #1b1b32;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 10%;
}

.weather-details .humidity .weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-end;
}

.weather-details .wind {
    padding-left: 20px;
    justify-content: flex-end;
}

.weather-details i {
    color: #1b1b32;

    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span {
    color: #1b1b32;

    font-size: 22px;
    font-weight: 500;

}

.weather-details p {
    color: #1b1b32;

    font-size: 14px;
    font-weight: 500;
}

.not-found {
    width: 100%;
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img {
    width: 70%;
}

.not-found p {
    color: #1b1b32;

    font-size: 22px;
    font-weight: 500;
}

.weather-box .weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

video {
    width: 330px;
    height: 230px;

    padding-left: 10%;
    padding-top: 5%;
    display: inline-block;
}

.mini-carousel {
    position: relative;
    max-width: 80rem;
}

.mini-slider {
    display: flex;
    aspect-ratio: 8.39/1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: .5rem;
}

.mini-slider img {
    flex: 1 1 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.mini-slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.mini-slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.mini-slider-nav a:hover {
    opacity: 1;
}

.mini-row {
    padding-top: 5%;
    padding-right: 15%;
}

/*          /MAIN          */



/*          FOOTER          */

footer {
    margin-top: 10%;
    padding-bottom: 2%;
    background-color: black;
    color: #ebeae4;
    width: 100%;
}

.column {
    padding-top: 4%;
    padding-left: 3%;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 5%;
}

.footer-links {
    display: inline-block;
    padding-left: 20%;
}

.footer-links ul {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #ebeae4;
}


/*          /FOOTER          */



/*          MOBILE          */


@media (max-width: 1250px) {
    .card {
        width: calc(33.33% - 40px);
    }
}

@media (max-width: 950px) {
    .header-search, .search-box, .result-box {
        display: none;
    }

    .header-list a {
        font-size: 13px;
    }

    .carousel {
        width: 100%;
    }
    
    .card {
        width: calc(50% - 30px);
        margin: 30px 15px;
    }
}

@media (max-width: 620px) {
    .container {
        width: 90%;
        margin: 0 5%;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: calc(100%);
        margin: 20px 0 0 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .card img {
        width: 172px;
        height: 100px;
        margin: 5px;
    }
    .card-body {
        width: max-content;
        margin: 5px;
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    #loader {
        background-color: transparent;
    }

    .header-box {
        width: 95%;
        margin: 0 2.5%;
    }

    .row {
        width: 100vw;
    }
}


/*          /MOBILE         */
